div.jumbotron
  h1 Train Yourself!
  p Select the category you are interested
  div.row
    div.col-lg-6
      div.input-group.input-group-lg
        input.form-control(type='text')
        span.input-group-btn
          button.btn.btn-success Go!
        